@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Open+Sans&display=swap");

$black: #011627;
$light: #7c8483;
$primary: #f0eff4;
$secondary: #663f46;
$danger: #e63946;
$success: #2afc98;

@mixin flex-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button {
  border: none;
  text-align: center;
  border: 1px solid $black;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  user-select: none;
  background: $primary;
  color: $black;
}

@mixin box-shadow {
  transform: translate(5px, -5px);
  box-shadow: -5px 5px 0px $black;
}

@mixin text-shadow {
  transform: translate(3px, -3px);
  text-shadow: -3px 3px 0px $black;
}

// js invoked
.fill-in {
  outline: none !important;
  border: 2px solid $danger;
}

.done {
  color: $success !important;
}

.strike {
  text-decoration: line-through;
}

.hidden {
  display: none !important;
}

// main styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  @include flex-col();
  color: $black;
  padding-bottom: 6vh;
}

header {
  margin-top: 2rem;
}

h1 {
  font-family: "Bungee Shade", cursive;
  font-size: 3rem;
}

h2 {
  margin-bottom: 10px;
}

h2,
p,
input,
button {
  font-family: "Open Sans", sans-serif;
}

.main {
  @include flex-col();
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    height: 30px;
    width: 375px;
    margin-right: 15px;
    border: 2px solid $black;
    text-indent: 5px;
  }
}

button {
  @include button();
  font-size: 1rem;
  transition: 0.2s ease;
}

button:hover {
  @include box-shadow();
}

.shopping-list {
  @include flex-col();
  margin: 15px 0;
  .list {
    display: flex;
    width: 450px;
    height: 30px;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    .js-remove {
      justify-content: flex-end;
      padding: 15px;
      margin-right: 3px;
      color: $danger;
      transition: 0.2s ease;
      cursor: pointer;
      &:hover {
        @include text-shadow();
      }
    }
    .list-items {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .js-done {
        padding: 15px;
        // margin-right: 10px;
        color: $light;
        transition: 0.2s ease;
        cursor: pointer;
        &:hover {
          @include text-shadow();
        }
      }
    }
  }
}

.empty-state {
  @include flex-col();
  display: none;
  margin-top: 20px;
}

.shopping-list:empty {
  display: none;
}

.shopping-list:empty + .empty-state {
  display: flex;
}

footer {
  height: 5vh;
  width: 100vw;
  background-color: $black;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;

  p {
    color: $light;
  }

  a {
    color: $light;
    text-decoration: none;
    &:hover {
      color: $primary;
    }
  }
}

// Mobile Responsive
@media screen and (max-width: 430px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 0.9rem;
  }

  i {
    font-size: 1.6rem !important;
  }

  form {
    @include flex-col();

    input {
      height: 30px;
      width: 300px;
      margin-top: 10px;
      margin-right: 0px;
    }
    button {
      display: block;
      font-size: 0.9rem;
      width: 100%;
      margin-top: 10px;
    }
  }

  .shopping-list {
    .list {
      width: 300px;
      height: 20px;
    }
  }
}
